.logo{
  width: 60px;
  margin-right: 20px;
}
.carousel-item img{
  height: 550px;
  object-fit: cover;

}

.card-img-top{
  height: 200px;
}
.active_styles{
  border-bottom: 2px solid #000;
}


@media screen and (max-width:600px){
  .carousel-item img{
    height: 300px;
      }}